*{
    padding:0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-container{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.footer{
    margin-top: 10px;
}